pre.shiki {
  background-color: #0d0e12 !important;
}
.scroll-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.scroll-container::-webkit-scrollbar-corner{
  background: transparent;
}
.scroll-container::-webkit-scrollbar-thumb {
  background-color: #292c32b3;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: transparent; 
}
:root{
  --header-height:3.5rem;
}